text, p, a, li, h, b, input, input::placeholder, .infos, th {
	font-family: 'Poppins', sans-serif;
}

input {
	outline: none !important;
}

a {
	text-decoration: none;
	color: black;
}

section {
	margin: 0 auto;
	width: 1400px;
	height: fit-content;
	min-height: max-content;
	margin-top: 130px;
	padding-bottom: 120px;
}

#wrapper {
	position: relative;
	height: fit-content;
}

#fixed-box {
	width: 200px;
	height: 145px;
	position: fixed;
	top: 200px;
	margin-left: 40px;
	background-color: rgba(0, 0, 0, 0.801);
	border-radius: 3%;
}

#board {
	width: 1100px;
	min-height: 900px;
	margin-left: 280px;
}

#fixed-box p {
	color: whitesmoke;
	font-family: 'Poppins', sans-serif !important;
	float: left;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 15px;
}

#fixed-box p:nth-of-type(2) {
	clear: left;
	float: left;
}

#write-img {
	width: 50px;
	height: 50px;
	float: right;
	margin-top: -116px;
	margin-right: 13px;
}

.myPost {
	clear: both;
	width: 200px;
	padding-top: 20px;
}

.myPost button {
	width: 100px;
	height: 40px;
	background-color: rgba(50, 50, 50, 0.801);;
	border: 1px solid rgb(82, 82, 82);
	color: whitesmoke;
}

.myPost button:nth-of-type(1) {
	float: left;
}

.myPost button:nth-of-type(2) {
	float: right;
}

#board-table {
	width: 1000px;
	margin: 0 auto;
}

#board-table th, #board-table td {
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

#board-table th {
	padding-bottom: 14px;
	border-bottom: 1px solid gray;
}

#board-table td {
	padding-top: 14px;
	padding-bottom: 14px;
	border-bottom: 1px solid gray;
}

#board-table td:nth-of-type(1) {
	width: 40px;
}

#board-table th:nth-of-type(2), #board-table th:nth-of-type(3),
	#board-table th:nth-of-type(4), .myPost button {
	font-family: 'Noto Sans KR', sans-serif;
}

#board-table td:nth-of-type(2) {
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	padding-left: 20px;
}

#board-table td:nth-of-type(4) {
	width: 200px;
	text-align: left;
}

#board-search {
	float: right;
	margin-right: 80px;
	margin-top: 20px;
}

#search-text {
	border: none;
	padding-bottom: 1px;
	border-bottom: 2px solid;
}

#search-btn {
	width: 60px;
	height: 29px;
	border: 0px;
	border-radius: 5%;
	background-color: rgba(0, 0, 0, 0.801);
	color: whitesmoke;
}