#post-title {
	width: 1000px;
	height: 30px;
	text-align: center;
	font-size: larger;
	font-weight: bolder;
}

#search {
	height: 36px !important;
	width: 314px !important;
}

input {
	outline: none !important;
}

#post-info {
	width: 1000px;
	border-bottom: 1px solid gray;
}

#post-date {
	text-align: right;
	width: 400px;
	height: 30px;
	float: right;
}

#post-user {
	width: 400px;
	height: 30px;
	float: left;
}

#post-image{
	margin: 0 auto;
	text-align: center;
	max-width: 1000px;
	max-height: 500px;
}

#post-content {
	width: 1000px;
	min-height: 600px;
	height: max-content;
	margin-top: 50px;
	border-bottom: 1px solid gray;
}

.post-btn {
	margin-top: 20px;
	float: right;
	width: 60px;
	height: 29px;
	border: 0px;
	border-radius: 5%;
	background-color: rgba(0, 0, 0, 0.801);
	color: whitesmoke;
	margin-left: 10px;
	margin-right: 10px;
}